.header {
  text-align: center;
  margin-top: 20px;
}

.center-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.center-image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 7rem;
}

.icon {
  display: contents;
  font-size: 48px;
  margin-bottom: 20px;
}

.swal2-container {
  z-index: 9999 !important;
}

::ng-deep {
  .swal2-height-auto {
    height: 100vh !important;
  }
}
